.heading1 summary {
    position: relative;
    display: inline-block;

    color: #4da3ff;
    font-size: 40px;
    letter-spacing: 1px;
        font-family: Draconis;
    line-height: 60px;
        cursor: url("images/cursoractive.png"), auto;
    list-style: none;

    padding-bottom: 6px;
}

.heading1 summary::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -300px;
    bottom: 2px;
    height: 3px;

    background: linear-gradient(
        to right,
        #4da3ff, #4da3ff, #4da3ff, #e06868,
        transparent
    );
}

.heading2 summary {
    position: relative;
    display: inline-block;

    color: #B5A642;
    font-size: 30px;
    letter-spacing: 1px;
        font-family: Draconis;
    line-height: 40px;
        cursor: url("images/cursoractive.png"), auto;
    list-style: none;

    padding-bottom: 6px;
}

.heading2 summary::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -300px;
    bottom: 2px;
    height: 2px;

    background: linear-gradient(
        to right,
        #B5A642, #67a540,
        transparent
    );
}

.heading3 summary {
    position: relative;
    display: inline-block;

    color: #5c9ce0;
    font-size: 20px;
    letter-spacing: 1px;
        font-family: Draconis;
    line-height: 30px;
        cursor: url("images/cursoractive.png"), auto;
    list-style: none;

    padding-bottom: 6px;
}

.heading3 summary::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -300px;
    bottom: 2px;
    height: 1px;

    background: linear-gradient(
        to right,
        #B5A642, #B5A642,
        transparent
    );
}

h1 {
    background-image: linear-gradient(to top, #f7da00, #e1aa6c, #e16cc6,  #e16cc6);
    background-clip: text;
    color: transparent;
        line-height: 40px;
    font-size: 40px;
    letter-spacing: 1px;
        font-family: Draconis;
}

h2 {
    color: #bdb252;
        line-height: 40px;
    font-size: 30px;
    letter-spacing: 1px;
        font-family: Draconis;
}

h3 {
    color: #77a5fb;
        line-height: 40px;
    font-size: 25px;
    letter-spacing: 1px;
        font-family: Draconis;
}




body {
    background: url(images/wallpaperfgif.gif);
    background-attachment: fixed;
    line-height: 22px;
    font-family: Bookerly, Draconis;
    font-size: 20px;
    color: #eaebe2;
    cursor: url("images/cursorpassive.png"), auto;
}

img {
    width: 100%;
    max-width: 500px;
}

.content {
    column-width: 500px;
    column-gap: 15px;
    column-count:2;
    border: 3px solid;
    border-image: linear-gradient(to top left, #c1ba86, #B5A642, #758e42) 1;
    padding: 10px;
}

.content-close {

    column-width: 500px;
    column-gap: 30px;
    column-count:2;    border: 3px solid;
    border-image: linear-gradient(to top left, #c1ba86, #B5A642, #758e42) 1;
    padding: 10px;
}

.content-nocol {

    border: 3px solid;
    border-image: linear-gradient(to top left, #c1ba86, #B5A642, #758e42) 1;
    padding: 10px;
}

.text-frame-close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #104a6c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px #03456e;
    max-width: 900px;
    min-width: 300px;
    margin: 10px auto 0

}

.txtgrad {
    background-image: linear-gradient(to bottom left, #b8ae68, #c1b56b, #b1a55a) 0;
}

.text-frame {
    background-color: #104a6c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px #03456e;
    margin: 50px
}

.centered {
    text-align: center;
}

iframe {
    align-items: center;
    justify-content: center;
    text-align: center;
}

figure.block {
    background-color: #062f47;
    display: inline-flex;
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0 5px 10px #062131
}

figure.block:hover {
    background-color: #c7eddf;
    display: inline-flex;
    border: #339575;
    border-style: solid;
    border-width: 5px;
    padding: 25px;
    margin-left: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.4);
    transition-duration: 0.2s;
    transition-property: all;
    box-shadow: 0 7px 15px #036e47
}
a {
    background-image: linear-gradient(to top right, #c1b876, #cbbc5a, #a09552);
    background-clip: text;
    font-family: Bookerly, Draconis;
    font-weight: 50px;
    color: transparent;
    cursor: url("images/cursoractive.png"), auto;
    text-decoration: none;
}



.styled-table {
    border-collapse: collapse;
    font: Bookerly;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 5px 10px #062131;
    background-color: #1b5b80;
    color: #eaebe2;

    text-align: left;
    font-size: 20px;
    padding: 12px 15px;

}

.table-scroll {
    overflow-x: auto;
    break-inside: avoid;
        box-shadow: 0 5px 10px #062131;
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #104a6c;
}

.styled-table td,
.styled-table th {
    padding: 12px 15px;
}

.styled-table tr.active-row {
    background-color: #114360;
}






button {
    cursor: url("images/cursoractive.png"), auto;
}

.footer {
    position: fixed;
    background-color: #c7eddf;
    display: inline-flex;
    border: #339575;
    border-style: solid;
    border-width: 5px;
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 10px #036e47
}