body {

    /*background:papayaWhip*/
    background: #78EBCE;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: #093b25;
}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:lightblue;
    font-size: smaller;
}
a{
    color: #008f5a
}