body {

    /*background:papayaWhip*/
    background: #c7eddf;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: #034226;
    cursor: url("mainimages/cursorpassive.png"), auto;
}

img {
    width: 59%;
    max-width: 500px;
}

figure.block {
    background-color:Red;
    display: flex;
    border: #339575;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    color: #008f5a
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font: 0.9em;
    font-family:Helvetica;
    min-width: 400px;
    box-shadow: 0 5px 10px #036e47
}
.styled-table th tr {
    background-color: #c7eddf;
    color: #034226;
    text-align: left;
}
.styled-table th {
    padding: 12px 15px;
}
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 0px solid #0d4d30
}
.styled-table tr.active-row {
    background-color: #ace3cf
}